<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN HOMEPAGE</title>
</head>
<body>
    <a href="manageauthority">add and manage authority</a><br/>
    <a href="manageuser">manageuser</a><br/>
    <a href="feedback">view feedback</a><br/>
    <a href="complaint">view complaint send reply</a><br/>
    <a href="detection">view detection</a><br/>
    <a href="issues">Issues</a><br/>
    <a href="authorityDep">authorityDep</a><br/>
   <a href="viewassignAdmin">View Assigned Work</a><br/>
   <a href="report">manage report</a><br/>
   <a href="login">logout</a><br/>
</body>
</html>