<!DOCTYPE html>
<html>
<head>
    <title>Issues List</title>
</head>
<body>
    <h2>Reported Issues</h2>
    <table border="1">
        <tr>
            <th>Username</th>
            <th>Date</th>
            <th>Location</th>
            <th>Image</th>
            <th>Description</th>
            <th>Assign Work</th>
        </tr>
        {% for issue in val %}
        <tr>
            <td>{{issue.USER_ID.Name}}</td>
            <td>{{ issue.Date }}</td>
            <td>{{ issue.Location }}</td>
            <td>
                {% if issue.Image %}
                    <img src="{{ issue.Image.url }}" width="100"/>
                {% else %}
                    No image
                {% endif %}
            </td>
            <td>{{ issue.Description }}</td>
            <td>
               <a href="assignwork/{{ issue.id }}">Assign Work</a>

            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
