<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>authority department</title>
</head>
<body>
    <table>
         <tr>
             <td>Authority:</td><br/>
             <td>
                
                <select>
                    <object data="text" ></object>
                </select>
              
                </td>
             <td><br><input type="button" name="assign" value="assign"></td><br/>
        </tr>
    </table>
</body>
</html>