<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Department</title>
</head>
<body>
  <form method="post">
     {% csrf_token %}
    <label for="department">Department</label>
    <select name="deptname" id="department">
      <option value="">-- Select Department --</option>
      <option value="traffic police">Traffic Police</option>
      <option value="police">Police</option>
      <option value="pwd">PWD</option>
      <option value="ambulance">Ambulance</option>
    </select>
    <input type="submit" value="Add"/>
  </form>
</body>
</html>
