<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW DETECTION</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <!-- <th>TIME</th> -->
            <th>DATE</th>
            <th>INCIDENT</th>
            <th>VIEW</th>
            <th>STATUS</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <!-- <td>{{i.Time}}</td> -->
            <td>{{i.Date}}</td>
            <td>{{i.Incident}}</td>
            <td><a href="/mapview/{{i.id}}">view</a></td>
            </td>
            <td>{{i.Status}}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>