<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
    <table style="border: 1px solid;">
        <tr>
             <td>Username:</td>
             <td><input type="text" name="Username"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" name="Password"></td>
        </tr><br/>
        <tr>
            <td><br/><input type="submit" value="LOGIN" style="margin: 2px;"></td>
          
        </tr>
    </table>
    </form>
</body>
</html>