<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MANAGE REPORTS</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>INCIDENT</th>
            <th>PLACE</th>
            <th>TIME</th>
            <th>IMAGE</th>
            <th>AUTHORITY</th>
        </tr>

        {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{i.Message}}</td>
            <td>{{i.Location}}</td>
            <td>{{i.Time}}</td>
            <td><img src="{{i.Image.url}}" width="100" height="100"></td>
            <td>                 
                <select>
                    <!-- <object data="text" ></object> -->
                    <option>TRAFFIC POLICE</option>
                    <option>PWD</option>
                    <option>AMBULANCE</option>
                    <option>POLICE</option>
                </select>
            </td>
        </tr>
        {% endfor %}        
    </table>
</body>
</html>