<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATE </title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
         <table style="border: 1px solid;">
        <tr>
            <input type="text" value="{{a.Status}}">
        </tr>
        <tr>
             <td>COMMENT:</td>
        </tr>
         <tr>
             <td><textarea placeholder="reply" name="Reply"></textarea></td>
        </tr>
        <tr>
             <td><input type="submit" value="OK"></td>
        </tr>


    </table>
    </form>

</body>
</html>