<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="alert">alert</a><br/>
    <a href="authorityreport">authorityreport</a><br/>
    <a href="fdback">fdback</a><br/>
    <a href="sendissues">sendissues</a><br/>
    <a href="updatingstatus">updatingstatus</a><br/>
    <a href="viewassign">viewassign</a><br/>
    <a href="viewissues">viewissues</a><br/>
</body>
</html>