<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEW REPORTS</title>
</head>
<body>
        <table border="1">
        <tr>
            <th>ID</th>
            <th>R_ID</th>
            <th>INCIDENT</th>
            <th>DESCRIPTION</th>
            <th>PLACE</th>
            <th>TIME</th>
            <th>DATE</th>
            <th>IMAGE</th>
        </tr>
        {% for i in val %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{i.R_ID}}</td>
            <td>{{i.Message}}</td>
            <td>{{i.Description}}</td>
            <td>{{i.Location}}</td>
            <td>{{i.Time}}</td>
            <td>{{i.Date}}</td>
            <td>{{i.Image}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>