<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
     <table style="border: 1px solid;">
        <tr>
             <td>Username:</td>
             <td><input type="text" ></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text"></td>
        </tr><br/>
        <tr>
            <td><br/><input type="submit" value="LOGIN" style="margin: 2px;"></td>
            <td><br/><input type="submit" value="SIGN IN"></td>
        </tr>
    </table> 
</body>
</html>