<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
          <table style="border: 1px solid;">
        <tr>
             <td>WORK:</td>
             <td><input type="text" ></td>
        </tr>
        <tr>
            <td>ISSUE:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
             <td>DESCRIPTION:</td>
             <td><textarea placeholder=""></textarea></td>
        </tr>
         <tr>
            <td><br/><input type="submit" value="submit"></td>
        </tr>
    </table>
</body>
</html>