<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UPDATING STATUS</title>
</head>
<body>
      <table style="border: 1px solid;">
        <tr>
             <td>ID:</td>
             <td><input type="text" ></td>
        </tr>
        <tr>
            <td>INCIDENT:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
             <td>CURRENT STATUS:</td>
             <td><input type="text" ></td>
        </tr>
         <tr>
            <td><br/><input type="submit" value="SUBMIT"></td>
        </tr>
    </table>
</body>
</html>